<p> This show the record Number <%= @profile.id %> </p>
<p>
  <strong>Address:</strong>
  <%= @profile.address %>
</p>
<p>
  <strong>Phone Number:</strong>
  <%= @profile.phone_number %>
</p>

<%= link_to 'Show All Profiles', profiles_path %>