<center> <h3> Welcome In My First Application </h3> </center>
<table>
  <tr>
      <td><%= link_to 'Create_New_Profile', new_profile_path %></td> 
      <td><%= link_to 'Show_All_Profiles', profiles_path %></td>
  </tr>
</table>